# MongoDB (Atlas)
MONGO_URI="mongodb+srv://USERNAME:YOUR_PASSWORD@terraturtles.rufwskm.mongodb.net/?retryWrites=true&w=majority&appName=TerraTurtles"
MONGO_DBNAME="gym_info"

# Flask session key
SECRET_KEY="YOUR PASSWORD"